body {
    background-color: #E6E6E6;
}

.instructions {
    font-size: 20px;
}

#local-scores-div {
    float: left;
    margin-left: 50px;
    background-color: #DDE1F5;
    /*background-color: #EDEEF7;*/
    height: 660px;
    padding: 50px;
    border: 3px solid black;
}

#gameplay-box-div {
    margin-left: 400px;
    height: 750px;
    width: 1000px;
    border: black 5px solid;
    text-align: center;
    background-color: #DDE1F5;
}

.start-game-messages {
    position: relative;
    top: 300px;
}

.gameplay-box-messages {
    font-size: 20px;
}

.circle {
    border-radius: 50%;
    background-color: red;
    width: 50px;
    height: 50px;
    position: relative;
}

#start-game-button {
    background-color: #008CBA;
    font-size: 20px;
    border: black 1px solid;
    color: white;
    text-align: center;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

#start-game-button:hover {
    background-color: #0b5fe5;
}
